body {
	width: 100vw;
	overflow: hidden;
}

h1 {
	text-align: center;
	margin: 0 auto;
	font-family: 'Slackey', cursive;
}

div.firstScreen {
	z-index: 1;
	background-image: url("../images/map.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	color: black;
	width: 100vw;
	height: 100vh;
	float: left;
}

div.flex {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.gameBoard {
	z-index: 2;
	background-image: url("../images/sunset.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	width: 100vw;
	height: 100vh;
	font-size: 2em;
}

div.scoreKeeper {
	background-color: black;
}

div.question {
	border: 2px solid black;
	margin: -2px auto 0 auto;
	text-align: center;
	background-color: #3BD476;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.answer {
	width: 276px;
	text-align: center;
	font-size: 1em;
	margin: 8px;
	padding: 5px;
	background-color: #25B7E8;
	border-style: outset;
	cursor: pointer;
	height: 100%;
}

footer {
	display: block;
	position: fixed;
	bottom: 0;
	background-color: black;
	color: gray;
	border-bottom: 0;
	width: 100vw;
}

li {
	list-style-type: none;
}
.startGame {
	width: 30vw;
	height: 10vw;
	position: absolute;
	top: 45vh;
	left: 35vw;
}

.scoreCard {
	font-size: 1em;
}

button.startGame {
	font-size: 1.5em;
}

div.race {
	position: absolute;
	bottom: 3%;
	height: 28%;
	width: 100%;
}

.cars {
	display: inline-block;
	height: 100%;
	position: relative;
	z-index: 100;
	background-repeat: no-repeat;
	bottom: 0;
	background-position: center bottom;
	width: 25%;
}

#car1 {
	background-image: url("../images/woman.svg");
	float: left;
	left: 5%;
}

#car2 {
	float: right;
	right: 5%;
	background-image: url("../images/man.svg");
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

}
div.yellow-line {
	background-color: gold;
	width: 100vw;
	height: 2vh;
	position: absolute;
}

div.yellow-line.top {
	bottom: 35%;
}

div.yellow-line.bottom {
	top: 35%;
}

#userName {
	text-transform: capitalize;
}

#userNameTwo {
	text-transform: capitalize;
}

.black {
	background-color: black;
	width: 50%;
	height: 25%;
	float: left;
}

.white {
	background-color: white;
	width: 50%;
	height: 25%;
	float: left;
}

#finishLine {
	width: 3vw;
	height: 100%;
	position: absolute;
	right: 15%;
}

ul {
	margin: 0 auto;
	text-align: center;
}

li.sources {
	display: inline;
	margin: 0 10px;
}