body {
	width: 400vw;
}

.hidden {
	display: none;
}

#hero {
	background-color: blue;
	border: 1px solid black;
	height: 5vh;
	width: 5vw;
	left: 5%;
	position: absolute;
	z-index: 100;
}

div.firstScreen {
	margin-top: -20px;
	height: 100vh;
	z-index: 1;
}

div.flex {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#userName {
	text-transform: capitalize;
}

.firstScreen {
	background-color: black;
	color: white;
	width: 100vw;
	height: 100vh;
	float: left;
}

#backgroundOne {
	background-color: green;
	position: absolute;
	left: 100%;
	width: 100vw;
	height: 100vh;
	float: left;
	margin-top: -20px;
	z-index: 2;
}

#backgroundTwo {
	background-color: red;
	position: absolute;
	left: 200%;
	width: 100vw;
	height: 100vh;
	float: left;
	margin-top: -20px;
	z-index: 2;
}

#backgroundThree {
	background-color: yellow;
	position: absolute;
	left: 300%;
	width: 100vw;
	height: 100vh;
	float: left;
	margin-top: -20px;
	z-index: 2;
}